@import 'leaflet/dist/leaflet.css';

@tailwind base;
@layer base {
    /**
        * All focusable elements
        */
    :is(a[href], area[href], input:not([disabled]):not([type='hidden']), select:not([disabled]), textarea:not([disabled]), button:not([disabled]), iframe, object, embed, [contenteditable], audio[controls], video[controls], summary, [tabindex='0'], [tabindex^='0'], [tabindex^='1'], [tabindex^='2'], [tabindex^='3'], [tabindex^='4'], [tabindex^='5'], [tabindex^='6'], [tabindex^='7'], [tabindex^='8'], [tabindex^='9']):focus {
        outline: none;
        border-bottom: 1px dashed rgb(209, 213, 219);
        margin-bottom: -1px;
    }
}
@tailwind components;
@tailwind utilities;
